AssetBundle/AssetBundle/Library/
AssetBundle/AssetBundle/Temp/
AssetBundle/AssetBundle/Assets/StreamingAssets/
AssetBundle/AssetBundle/ProjectSettings/
AssetBundle/AssetBundle/UnityPackageManager
